[submodule "Toolkit"]
	path = Toolkit
	url = git@github.com:vasic-digital/Android-Toolkit.git
[submodule "Asinka"]
	path = Asinka
	url = git@github.com:vasic-digital/Asinka.git
[submodule "Public"]
	path = Rag/Sources/Public
	url = git@github.com:vasic-digital/Open-Rag-Material-Android.git
[submodule "Connectors/qBitConnect"]
	path = Connectors/qBitConnect
	url = git@github.com:vasic-digital/qBitConnect.git
[submodule "Connectors/TransmissionConnect"]
	path = Connectors/TransmissionConnect
	url = git@github.com:vasic-digital/TransmissionConnect.git
